.imageResume img{
    height: 60%;
    width: 80%;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 0px;
    /* align-items: center; */
    /* background-color: black; */

}
/* .CarosalCaptions p,h3{
    color: black;
} */

