.imageResume img{
    
    height: 210px;
    width: 90%;

    padding-left: 27px;
    /* padding-left: 100px; */
    /* padding-right: 0px; */
    
    /* background-color: black; */

}
 .CarosalCaptions p,h3{
    color: black;
} 

