.header_main {
    height: 100vh;
    width: 100%;
    background-image: url("./Images/prof6.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.cxoWord {
    color: #f4bb40;
    font-size: 4rem;
    font-weight: 700;
}

.thoughs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.thoughs button {
    margin-bottom: 10px;
    opacity: 0.5;
    height: 50px;
    width: 200px;
    border-radius: 1rem;
    box-sizing: border-box;
    border: none;
    background-color: black;
    color: white;
}

.thoughs button:hover {
    height: 55px;
    width: 200px;
    background-color: black;
    opacity: 0.8;
    color: white;
}

.buttonDivsContainer {
    width: 60%;
    padding-left: 50px;
    text-align: left;
    box-sizing: border-box;
}

.buttonDivsContainer h2 {
    margin-top: 20%;
   
    color: black;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.1rem;
}

.buttonDivsContainer p {
    color: black;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
}

.buttonDivsContainer button {
    width: 40%;
    height: 50px;
    border-radius: 1rem;
    background-color: #f4bb40;
    font-size: large;
    margin-right: 10px;
}

.buttonDivsContainer button:hover {
    width: 50%;
    height: 50px;
    background-color: black;
    opacity: 0.8;
    color: white;
}

.header_form_container {
    width: 20%;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.caroselDiv {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
}

.splitsNews {
    display: flex;
    justify-content: space-between;
    padding: 0px 0;
}

.splitsNews p {
    /* padding-left: 50px; */
    color: white;
}
.splitsNewsContent{
    height: 100px;
    /* background-color:  #f4bb40; */
    text-align: center;
    padding-top: 30px;
    border-radius: 1rem;

}
.splitsNewsContent button{
    width: 90%;
    height: 50px;
    border-radius: 1rem;
    background-color: #f4bb40;
    font-size: large;
    /* margin-right: 10px; */
}

.header_form_container::-webkit-scrollbar {
    display: none;
}

.marqueeText {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    font-size: 2rem;
    font-weight: bold;
    color: #f4bb40;
    padding: 10px 0;
}

.imageResume img {
    height: 300px;
    width: 90%;
    padding-top: 10px;
    padding-left: 27px;
}

/* Mobile Query */
@media screen and (max-width: 600px) {
    .header_main {
        background-image: url("./../../Images/job.jpg");

        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        height: auto;
    }

    .buttonDivsContainer {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .buttonDivsContainer h2 {
        margin-top: 20px;
        font-size: 2rem;
    }

    .buttonDivsContainer p {
        font-size: 1rem;
    }

    .buttonDivsContainer button {
        width: 80%;
        font-size: medium;
    }

    .thoughs {
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }

    .thoughs button {
        width: 80%;
    }

    .header_form_container {
        width: 100%;
        margin-top: 20px;
    }

    .splitsNews p {
        padding-left: 0;
    }
}

/* Tablet Query */
@media (min-width: 768px) and (max-width: 1024px) {
    .header_main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        height: auto;
    }

    .buttonDivsContainer {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .buttonDivsContainer h2 {
        margin-top: 20px;
        font-size: 2.5rem;
    }

    .buttonDivsContainer p {
        font-size: 1.25rem;
    }

    .buttonDivsContainer button {
        width: 70%;
        font-size: large;
    }

    .thoughs {
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }

    .thoughs button {
        width: 70%;
    }

    .header_form_container {
        width: 100%;
        margin-top: 20px;
    }

    .splitsNews p {
        padding-left: 0;
    }
}
