
.header_main {
    height: 84vh;
    width: 100%;
    background-image: url("./../../Images/coatsoot.webp");
    background-size: cover;
    display: flex;
   
    
}
/* .thoughs{
    width: 10%;
} */
/* .thoughs button{
    opacity: 0.5;
    height: 50px;
    width: 200px;
    border-radius: 1rem;
    box-sizing: border-box;
    border: none;

} */

.buttonDivsContainer {
    
   
    width: 75%;
    padding-left: 100px;
    text-align: left;
    box-sizing: border-box;
    height: 100%;
}
.newsSplilts{
    background-color: black;
    height: 30%;
    display: flex;
}
.split1{
    width: 50%;
    background-color: white;
}
.split1 img{
    height: 164px;
    width: 456px;
}
.split2 img{
    height: 164px;
    width: 456px;
}
.split2{
    width: 50%;
    background-color: yellow;
}
.buttonDivsContainer h2{
    margin-top: 30.7%;
    color: white;
    font-size: 4rem; /* Adjust as needed for banner text */
    font-weight: 500; /* Bold text */
    border-radius: 1rem;
    line-height: 1; /* Adjust line height for better readability */
    letter-spacing: 0.1rem; /* Adjust letter spacing as needed */
}
.buttonDivsContainer p{
   
    color: white;
    font-size: 2rem; /* Adjust as needed for banner text */
    font-weight: 200; /* Bold text */
    border-radius: 1rem;
    line-height: 1; /* Adjust line height for better readability */
    letter-spacing: 0.1rem; /* Adjust letter spacing as needed */
}


.buttonDivsContainer button{
    width: 40%;
    height: 60px;
    border-radius: 1rem;
    background-color: #f4bb40;
    font-size: large;
}
.buttonDivsContainer button:hover{
    background-color: white;
    opacity: 0.8;
}

.header_form_container {
    /* margin-right: 170px; */
    width: 25%; 
    /* height: 10px; */
    color: black;
    justify-content: center;
    align-items: center; 
    background-color: white;
}

.caroselDiv{
    /* background-color: black; */
    height: 100%;
}
.splitsNews{
    background-color: white;
    height: 240px;
}

.header_form_container::-webkit-scrollbar {
    display: none;
  }
  .marqueeText {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    font-size: 2rem; /* Adjust as needed */
    font-weight: bold;
    color: #f4bb40; /* Adjust as needed */
    padding: 10px 0;
  }

@media screen and (max-width: 600px) {

    .header_main{
        background-image: url("./../../Images/job.jpg");
        height: 100vh;
        width: 100%;
        background-color: hsl(0, 0%, 96%);
        z-index: -3;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
    }

   

.marqueeText {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    font-size: 2rem; /* Adjust as needed */
    font-weight: bold;
    color: #f4bb40; /* Adjust as needed */
    padding: 10px 0;
  }
    .buttonDivs button{
        color: white;
        font-size: xx-large;
        height: 30%;
        font-weight: bold;
        border-radius: 5rem;
        margin-top: 100px;
        width: 80%;
        /* gap: 2rem; */
        opacity: 0.5;
        box-shadow: black;
        margin-left: 60px;
        background-color: black;
    }
    
.buttonDivsContainer{
    color: white;
    font-size: xx-large;
    height: 100%;
    font-weight: bold;
    border-radius: 1rem;
    margin-top: 5.7%;
    width: 100%;
    /* gap: 2rem; */
    opacity: 0.4;
    /* box-shadow: black; */
    /* margin-left: 50px; */
    background-color: black;
    /* justify-content: space-around; */
}
}

/* Tablet Query */
@media (min-width: 768px) and (max-width: 1024px) {
    .header_box {
        /* position: absolute; */
        margin-top: 50%;
        margin-left: 4%;
        background-color: var(--black);
        width: 68%;
        z-index: 3;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 10px;
        cursor: pointer;
    }

    .header_image img {
        /* position: absolute; */
        margin-left: -21%;
        width: 50%;
        z-index: 1;
        margin-top: -20%;
        border-radius: 20px;
    }

    .header_box li {
        color: #F5F5F5;
        padding-top: 64px;
        list-style: none;
        font-size: 16px;
        font-family: 'Futura', sans-serif;
        cursor: pointer;
    }

    .hrd_icons {
        cursor: pointer;
        font-size: 30px;
        /* position: absolute; */
        margin-left: 30px;
        margin-top: -40px;
    }
}
