/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.header_main {
    background-image: url("./../../Images/GettyImages-1186079153.png");
    height: 74vh;
    width: 100%;
    background-color: hsl(0, 0%, 96%);
    z-index: -3;
    display: flex;
  
    flex-direction: column;
    
}
.buttonDivs{
    /* margin-bottom: 100px; */
    /* display: flex; */
    /* justify-content: space-between; */
}
.buttonDivs button{
    color: white;
    font-size: xx-large;
    height: 38%;
    font-weight: bold;
    border-radius: 5rem;
    margin-top: 5.7%;
    width: 47%;
    /* gap: 2rem; */
    opacity: 0.5;
    box-shadow: black;
    margin-left: 60px;
    background-color: black;
}
.buttonDivs button:hover{
    background-color: #f4bb44;
    color: black;
}








@media screen and (max-width: 600px) {

    .header_main{
        background-image: url("./../../Images/job.jpg");
        height: 100vh;
        width: 100%;
        background-color: hsl(0, 0%, 96%);
        z-index: -3;
        display: flex;
        flex-direction: column;
    }

    .buttonDivs{
        /* margin-bottom: 100px; */
        /* display: flex; */
        /* justify-content: space-between; */
    }

    .buttonDivs button{
        color: white;
        font-size: xx-large;
        height: 30%;
        font-weight: bold;
        border-radius: 5rem;
        margin-top: 100px;
        width: 80%;
        /* gap: 2rem; */
        opacity: 0.5;
        box-shadow: black;
        margin-left: 60px;
        background-color: black;
    }
    
}

/* Tablet Query */
@media (min-width: 768px) and (max-width: 1024px) {
    .header_box {
        position: absolute;
        margin-top: 50%;
        margin-left: 4%;
        background-color: var(--black);
        width: 68%;
        z-index: 3;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 10px;
        cursor: pointer;
    }

    .header_image img {
        position: absolute;
        margin-left: -21%;
        width: 50%;
        z-index: 1;
        margin-top: -20%;
        border-radius: 20px;
    }

    .header_box li {
        color: #F5F5F5;
        padding-top: 64px;
        list-style: none;
        font-size: 16px;
        font-family: 'Futura', sans-serif;
        cursor: pointer;
    }

    .hrd_icons {
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        margin-left: 30px;
        margin-top: -40px;
    }
}
