.mainBecom {
    background-color: #f4bb40;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.scrollContainer {
    padding-left: 30px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.scrollContent {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.navItem {
    margin-right: 20px;
    color: black;
    list-style: none;
}

.navText {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.navText:hover {
    text-decoration: none;
    color: whitesmoke;
}

.scrollButton {
    background-color: #ddd;
    border: none;
    padding: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.scrollButton:focus {
    outline: none;
}

.scrollButton:first-of-type {
    position: absolute;
    left: 0;
}

.scrollButton:last-of-type {
    position: absolute;
    right: 0;
}

/* Added styles for the form popup */
.formPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.formContent {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 50px;
    right: 10px;
    background: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
